.container{
    justify-content: center;
}
.navtab button{
    font:15px;
    color: white;
    font-weight: bold;
    text-transform: none;
}



.container h1{
    justify-content: center;
    text-align: center;
    color: white;
    margin: 30px;

}
.container h2{
    justify-content: center;
    text-align: center;
    color: white;
    margin: 10px;
}


.signin{
    position: absolute;
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.2)) ,url(../img/Visual-Merchandising-for-retail-store-–-2@2x.png) ;
    background-repeat: repeat;
    background-position: center;


    display: flex;
    flex-direction: column;
    height: 100%;
    width:100%;
    color:white;
    font-weight: bold;
    align-items: center;
    justify-content: center;

}
.login{
    height:60%;
    width: 30%;
    margin-bottom:20vh;
    background:rgba(255, 255, 255, 0.5);
    position: relative;
    color:black;
    border-radius: 20px;
    padding:30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login input{
    border-color: #080808;
    color:black
}
.login .form-control:focus {
    
    border-color: #080808;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.6);
  }

.login .batch:focus {

    border-color: black;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.6);
  }

.login button{
    width:100%;
    margin-top:20px;
}
.login a{
    font-size: 12px;
    font-weight: lighter;
    cursor: pointer;
}


.nav2 a{
    color:white;
}


.upload {
    color:black;
    height: 200px;
    width: 100%;
    background-color: rgb(250, 250, 250);
    margin-top: 50px;
    border:0px solid grey;
    box-shadow: 0px 0px 1px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.upload h2{
    color: #1d58a7;
}

.pdfpreview{
    height: '600px';
    width:"500px";
    margin:20px auto;
    border: '1px solid rgba(0, 0, 0, 0.3)',
}

.pdfupload{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formviewer{
    background:  #ede7f6;
}

.formdisplay{
    margin:auto;
    margin-top: 50px;
    height:800px;
    width:60%;
    /* background-color:#1976d2; */
    border-radius: 10px;
}

.formdisplay h3{
    font-size: 35px;
    color:white;
    font-weight: normal;
    height: 40px;
    text-align: center;
    padding: 30px;
}
.formdisplay .heading{
    margin:0;
    padding:0px;
    border-radius: 10px;
    background-color:#1976d2;
}

.formdisplay .content{
    margin:0;
    padding:0px;
}

.formdisplay li{
    width: 100%;
    border-radius: 10px;
    padding:10px;
}
.formdisplay li p{
    margin:10px;
    padding: 10px;
    font-size: 20px;
}
.formdisplay .imagelist{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.imagelist img{
   margin:12px;
}


.imagelist .img-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}


